<rule name="Block unauthorized traffic to staging sites" stopProcessing="true">
<match url=".*" />
<conditions>
<!-- Enter your staging site host name here as the pattern-->
<add input="{HTTP_HOST}" pattern="^testtutor4youtest.azurewebsites.net\." />
<!-- Enter your white listed IP addresses -->
<security>
    <ipSecurity allowUnlisted="false">    <!-- this line blocks everybody, except those listed below -->
        <clear/> <!-- removes all upstream restrictions -->
        <add ipAddress="192.168.1.100" allowed="true"/>    <!-- allow requests from the local machine -->           
    </ipSecurity>
</security>
<!-- Add the white listed IP addresses with a new condition as seen below -->
<!-- <add input="{REMOTE_ADDR}" pattern="123\.123\.123\.2" negate="true"/> -->
</conditions>
<action type="CustomResponse" statusCode="403" statusReason="Forbidden"
statusDescription="Site is not accessible" />
</rule>
