div.wrapper{
  text-align: center;
}

form {
  display: table;
  width: 100%;
}

p{
  display: table-row;
}

input:not([type="checkbox"]){
  outline: none;
  display: table-cell;
  width: 60%;
	margin-top: 4px;
	padding: 10px 5px 10px 32px;	
	border: 1px solid rgb(178, 178, 178);
	box-sizing : content-box;
	border-radius: 3px;
	box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
}

select {
  width: 20%;
}

label {
  display: table-cell;
  margin-top: 4px;
}

input:focus{
  border: 1px solid #21bd5a;
}

label, input[type="checkbox"]{
  vertical-align: middle;
}

.mark {
  color: #21bd5a;
  font-size: 20px;
}

@media only screen and (max-width: 754px){
  p{
    display: block;
  }
  
  label{
    vertical-align: middle;
    display: inline-block;
    width: 100%;
  }
  
   form{
    display: block;
    text-align: center;
  }
  
  .mark{
    font-size: 15px;
    display: inline;
  }
  
  p label ~ span {
    width: 90%;
    display: block;
  }
  
  select {
  width: 50%;
  }

}