.wrapper {
  text-align: center;
}

form {
  width: 50%;
  height: 50%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
}

p {
  font-size: 25px;
  color: #444;
}

a:hover{
  text-decoration: underline;
  cursor: pointer;
}

input[type="submit"]{
  width: 100%;
}

input {
  width: 100%;
}