div.wrapper{
  text-align: center;
}

form {
  display: table;
  width: 100%;
}

input[type="submit"]{
  width: 50%;
}

p{
  display: table-row;
}

select {
  width: 20%;
}

label {
  display: table-cell;
  margin-top: 4px;
}

input:focus{
  border: 1px solid #21bd5a;
}

label[for="usertype"], input[type="checkbox"]{
  vertical-align: middle;
}

.mark {
  color: #21bd5a;
  font-size: 20px;
  font-family: inherit;
}

@media only screen and (max-width: 754px){
  p{
    display: block;
  }
  
  label{
    vertical-align: middle;
    display: inline-block;
    width: 100%;
  }
  
   form{
    display: block;
    text-align: center;
  }
  
  .mark{
    font-size: 15px;
    display: inline;
  }
  
  p label ~ span {
    width: 90%;
    display: block;
  }
  
  select {
  width: 50%;
  }

}