.wrapper{
  width: 100%;
}

div.wrapper{
  text-align: center;
}

h1 {
  color: #444;
  font-weight: 300;
  font-size: 55px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #02b8dd;
}

form {
  display: table;
  width: 100%;
}

p{
  display: table-row;
}

body{
  font: normal 15px "Helvetica Neue", "Arial", "Helvetica", "Geneva", sans-serif;
	margin: 0;
	padding: 0;
}

input:not([type="checkbox"]){
  outline: none;
  display: table-cell;
  width: 60%;
	margin-top: 4px;
	padding: 10px 5px 10px 32px;	
	border: 1px solid rgb(178, 178, 178);
	box-sizing : content-box;
	border-radius: 3px;
	box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
}

input[type="submit"]{
  margin-top: 5px;
  vertical-align: top;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #21bd5a;
  border: 0;
  border-bottom: 2px solid #15ab4e;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #12ab8d;
  box-shadow: inset 0 -2px #12ab8d;
}

label {
  color: #444;
  font-weight: 300;
  font-size: 20px;
  display: table-cell;
  margin-top: 4px;
}

input:focus{
  border: 1px solid #21bd5a;
}

label, input[type="checkbox"]{
  vertical-align: middle;
}

span {
  color: #444;
  font-weight: 300;
  font-size: 20px;
}

select {
  outline: none;
  -webkit-appearance: none;
  margin-top: 5px;
  transition: border-color 0.2s;
  border: 1px solid #21bd5a;
  border-radius: 5px;
  background: #fff;
  color: #555;
  line-height: normal;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


@media only screen and (max-width: 400px){
  p, input[type="submit"]{
    display: block;
    width: 100%;
  }
  
  label{
    vertical-align: middle;
    display: inline-block;
    width: 100%;
  }
  
  span{
    display: block;
  }
  
   form{
    display: block;
  }
}