.wrapper {
  text-align: center;
}

body{
  background: #f2f2f2;
}

#logo{
  background: url('../images/ico2.png') no-repeat center;
  height: 92px;
  background-size: contain;
}

form {
  width: 50%;
  height: 50%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
}

p{
  font-size: 20px;
  font-weight: 300;
  color: #444;
}

a:hover{
  text-decoration: underline;
  cursor: pointer;
}

input[type="submit"]{
  width: 50%;
}

fieldset{
  border-color: gray;
  background: white;
  border-radius: 3px;
}

input[type="text"], input[type="password"]{
  width: 70%;
}

input:focus{
  border-color: #21bd5a;
}

@media only screen and (max-width: 600px){
  form{
    width: 100%;
  }
}