.wrapper {
  text-align: center;
}

body{
  background: #f2f2f2;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form {
  width: 50%;
  height: 50%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
}

p{
  font-size: 20px;
  font-weight: 300;
  color: #444;
}

a:hover{
  text-decoration: underline;
  cursor: pointer;
}

input[type="submit"]{
  width: 50%;
}

fieldset{
  border-color: gray;
  background: white;
  border-radius: 3px;
}

input {
  width: 100%;
}

input:focus{
  border-color: #21bd5a;
}

@media only screen and (max-width: 481px){
  form{
    width: 100%;
  }
  
  img {
    width: 100%;
  }
}