.wrapper {
  padding: 1.5em 0;
  text-align:center;
}

.body {
  font: normal 15px "Helvetica Neue", "Arial", "Helvetica", "Geneva", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
