.menu {

}

.menu__ul{

}

.menu__li {
  float: left;
  display: inline-block;
  margin-top: 50px;
}

.menu__li__a{
  text-transform: uppercase;
  font-weight: bold;
  display: block;
}

#menu-icon {
  display: hidden;
  background: url('../../images/nav.png') no-repeat center;
  width: 40px;
  height: 40px;
  margin: 30px 15px;
}
