<fieldset class="fieldset">
  <legend class="legend">Edit Student Data</legend>
  <form class="form">
    <label class="label">Name:<input class="input_text input_text--focused" type="text"/></label>
    <label>Surname:<input class="input_text input_text--focused" type="text"/></label>
    <p>Birthday:
    <label>Day:
    <select>
      </select>
    </label>
    <label>Month:
    <select>
    </select>
    </label>
    <label>
      Year:
      <select>
      </select>
    </label>
    <p>
  </form>
</fieldset>