<fieldset class="fieldset">
  <legend class="legend">Edit Student Data</legend>
  <form class="form">
    <label class="label">Name:<input ng-model="Student.name" class="input_text input_text--focused" type="text"/></label>
    <label class="label">Surname:<input ng-model="Student.lastName" class="input_text input_text--focused" type="text"/></label>
    <p>
    <label class="label">Day:
    <select class="select" ng-model="Date.day" ng-options="day for day in days">
      </select>
    </label>
    <label class="label">Month:
    <select class="select" ng-model="Date.month" ng-options="month for month in months">
    </select>
    </label>
    <label class="label">
      Year:
      <select class="select" ng-model="Date.year" ng-options="year for year in years">
      </select>
    </label>
    <p>
      <button class="button" ng-click="updateUser()">Confirm</button>
  </form>
</fieldset>