<div class="box-error">
    <p class="message" ng-show="Form.username.$invalid && !Form.username.$pristine">
        <span class="symbol">&#x2716</span>Username required
    </p>
    <p class="message" ng-show="Form.username.$error.minlength || Form.username.$error.maxlength">
        <span class="symbol">&#x2716</span>minimum 3 maximum 8 characters
    </p>
    <p class="message" ng-show="Form.username.$error.pattern">
        <span class="symbol">&#x2716</span>
        Username invalid. Contain underscore
    </p>
</div>