 <link type="text/css" rel="stylesheet" href="../css/home.css"/>
 <header>
    <div class="wrapper">
        <img src="../images/ico1.png" id="main-title">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </nav>
    </div>
 </header>
 <div id="main-image">
    <div class="wrapper">
        <h2>The <strong>perfect</strong> Tutor for You</h2>
        <button ng-click="logRef()">Sign-In</button>
        <button ng-click="logRef()">Sign-Up</button>
    </div>
 </div>
 <div id="features">
    <div class="wrapper">
        <ul>
            <li class="ft1">
                <h4>Best Tutors!</h4>
                <p>Tired to find someone that help you for an exam? You'll find the best tutor suited for you very quickly!</p>
            </li>
            <li class="ft2">
                <h4>notes sharing</h4>
                 <p>With our services students can upload materials to share with everyone</p>
            </li>
            <li class="ft3">
                <h4>Streaming Online</h4>
                <p>You can't meet your tutors? No problem! Use streaming service and recover the lesson</p>
            </li>
            <li class="ft4">
                <h4>vote your tutor!</h4>
                <p>Your tutor is great? Vote him for help other to find him</p>
            </li>
        </ul>
    </div>
 </div>
 <div id="primary-content">
    <div class="wrapper">
        <article>
            <h3>Improve your abilities</h3>
            <p>With our service you can pass your exams very easely</p>
            <a href="#"><img width="960" src="images/vote.jpg" alt="Image-placeholder"/></a>
        </article>
    </div>
 </div>
 <div id="secondary-contents">
    <div class="wrapper">
        <article>
            <h4>News</h4>
        </article>
    </div>
 </div>
 <div id="cta">
    <div class="wrapper">
        <h3>Heard Enough?</h3>
        <p>Sign up to our service and you life as a student will become more easy</p>
        <button>Sign-Up</button>
    </div>
 </div>
 <footer>
    <div class="wrapper">
        <div id="platform-info">
            <p>All Right reserved to <strong>Team</strong></p>
            <p>&#xA9 2016 Copyright</p>
        </div>
        <div id="company-links">
            <p>Terms and Conditions</p>
            <p>Privacy</p>
        </div>
        <div id="contact-info">
            <p><a href="#">Contact</a></p>
            <p><a href="#">About-Us</a></p>
        </div>
    </div>
 </footer>
