      <form>
                <fieldset>
                    <legend>Insert Your-Data</legend>
                    <label for="user-email">E-Mail:</label>
                    <input type="email" id="user-email" placeholder="Insert e-mail"/>
                    <label for="user-name">Name:</label>
                    <input type="text" id="user-name" placeholder="Insert your name"/>
                    <label for="user-lastName">Surname:</label>
                    <input type="text" id="user-lastName" placeholder="Insert your surname"/>
                </fieldset>
            </form>
