<link type="text/css" rel="stylesheet" href="../css/signin.css"/>
  <div class="logo">
  </div>
<div class="wrapper">
  <form class="form" ng-submit="log()">
    <fieldset class="fieldset">
      <p class="paragraph">Sign in to Tutor4You</p>
      <input type="text" class="input_text input_text--focused" ng-model="formLogin.user" required placeholder="Your E-Mail or Username"/>
      <input type="password" class="input_password input_password--focused" ng-model="formLogin.password" required placeholder="Your Password"/>
      <p class="paragraph"><a class="anchor anchor--hover">Forgot your password?</a></p>
      <input type="submit" class="input_submit input_submit--focused"value="Login"/>
      </fieldset>
  </form>
</div>