<link type="text/css" rel="stylesheet" href="../css/signup.css"/>
<div class="wrapper">
  <h1 class="h1">Sign Up</h1>
  <form class="form" ng-submit="registration()" novalidate="true">
    <div class="radio_div">
      <input type="radio" id="stype" class="input_radio input_radio--checked" ng-model="formInfo.isTutor" value="false" checked="checked"/>
      <label class="input_radio__label label" for="stype">Student</label>
      <input type="radio" id="ttype" class="input_radio input_radio--checked" ng-model="formInfo.isTutor" value="true"/>
      <label class="input_radio__label label" for="ttype">Tutor</label>
      </div>
    <p class="paragraph">
       <input type="text" class="input_text input_text--focused" placeholder="Insert Username"  required ng-model="formInfo.username" ng-pattern="nickValidator"/>
       <span class="mark" ng-show="formInfo.username">&#x2714</span>
    </p>
    <p class="paragraph">
      <input type="text" class="input_text input_text--focused" required placeholder="Your Name" ng-model="formInfo.name" ng-pattern="nameValidator"/>
      <span class="mark" ng-show="formInfo.name">&#x2714</span>
    </p>
    <p class="paragraph">
      <input type="text" class="input_text input_text--focused" placeholder="Your Surname" required ng-model="formInfo.lastName" ng-pattern="lastnameValidator"/>
      <span class="mark" ng-show="formInfo.lastName">&#x2714</span>
    </p>
    <p class="paragraph">
      <input type="email" class="input_email input_email--focused" placeholder="Your E-Mail" required ng-model="formInfo.email" ng-pattern="emailValidator"/>
      <span class="mark" ng-show="formInfo.email">&#x2714</span>
    </p>
    <p class="paragraph">
      <input type="password" class="input_password input_password--focused" placeholder="Insert Password" required ng-model="formInfo.password" ng-pattern="passwordValidator"/>
      <span class="mark" ng-show="formInfo.password">&#x2714</span>
    </p>
    <p class="paragraph">
      <input type="password" class="input_password input_password--focused" placeholder="Repeat Password" required ng-model="formInfo.passwordrpt"/>
      <span class="mark" ng-show="formInfo.password === formInfo.passwordrpt">&#x2714</span>
    </p>
    <p class="paragraph">
      <div class="userbirth">
      <label class="label">Year:<select class="select" ng-model="formInfo.year" ng-init="formInfo.year = years[0]" ng-change="createDays()" ng-options="year for year in years">
      </select>
      </label>
      <label class="label">Month:
      <select class="select" ng-model="formInfo.month" ng-change="createDays()" ng-init="formInfo.month = months[0]" ng-options="month for month in months">
        </select>
      </label>
      <label class="label">Day:
      <select class="select" ng-model="formInfo.day" ng-init="formInfo.day = days[0]" ng-options="day for day in days">
        </select>
      </label>
      </div>
    </p>
      <input type="submit" class="input_submit input_submit--focused" value="Get Started!"/>
  </form>
</div>
          