<link type="text/css" rel="stylesheet" href="../css/signin.css"/>
<div class="wrapper">
  <h1>Sign In</h1>
  <form>
    <p>
      <label for="user-mail">E-Mail:</label>
      <input type="email" id="user-mail" required="required" placeholder="Your E-Mail"/>
    </p>
    <p>
      <label for="user-passwd">Surname:</label>
      <input type="password" id="user-passwd" required="required" placeholder="Your Password"/>
    </p>
    <p>
      <label for="user-type"><a>Forgot your password?</a></label>
      <input type="submit" id="sub-data" value="Login"/>
    </p>
  </form>
</div>