<link type="text/css" rel="stylesheet" href="../css/signup.css"/>
<div class="wrapper">
  <h1>Sign Up</h1>
  <form ng-submit="registration()">
    <div class="usertype">
      <input type="radio" id="stype" ng-model="formInfo.isTutor" value="false"/>
      <label for="stype">Student</label>
      <input type="radio" id="ttype" ng-model="formInfo.isTutor" value="true"/>
      <label for="ttype">Tutor</label>
      </div>
    <p>
       <input type="text" id="username" placeholder="Insert Username"  required ng-model="formInfo.username"/>
       <span class="mark">&#x2714</span>
    </p>
    <p>
      <input type="text" id="userfirstname" required placeholder="Your Name" ng-model="formInfo.name"/>
      <span class="mark">&#x2714</span>
    </p>
    <p>
      <input type="text" id="usersurname" placeholder="Your Surname" required ng-model="formInfo.lastName"/>
      <span class="mark">&#x2714</span>
    </p>
    <p>
      <input type="email" id="usermail" placeholder="Your E-Mail" required ng-model="formInfo.email"/>
      <span class="mark">&#x2714</span>
    </p>
    <p>
      <input type="password" id="userpasswd" placeholder="Insert Password" required ng-model="formInfo.password"/>
      <span class="mark">&#x2714</span>
    </p>
    <p>
      <input type="password" id="usercfpasswd" placeholder="Repeat Password" required/>
      <span class="mark">&#x2714</span>
    </p>
    <p>
      <div class="userbirth">
      <label>Year:<select id="years" ng-model="formInfo.year" ng-init="formInfo.year = years[0]" ng-change="createDays()" ng-options="year for year in years">
      </select>
      </label>
      <label>Month:
      <select id="months" ng-model="formInfo.month" ng-change="createDays()" ng-init="formInfo.month = months[0]" ng-options="month for month in months">
        </select>
      </label>
      <label>Day:
      <select id="days" ng-model="formInfo.day" ng-init="formInfo.day = days[0]" ng-options="day for day in days">
        </select>
      </label>
      </div>
    </p>
      <input type="submit" id="sub-data" value="Get Started!"/>
  </form>
</div>
          