<div>
<fieldset class="fieldset">
  <legend class="legend">Vital Statistics</legend>
  <p class="paragraph">Name: <span class="span" ng-bind="Student.name"></span></p>
  <p class="paragraph">Surname: <span  class="span" ng-bind="Student.lastName"></span></p>
  <p class="paragraph">BirthDate: <span class="span" ng-bind="Student.birthday"></span></p>
  <p class="paragraph">E-Mail: <span class="span" ng-bind="Student.email"></span></p>
  <p class="paragraph">Contatti: <span class="span" ng-bind="Student.contacts.length"></span></p>
  <ul class="list">
    <li class="list__item" ng-repeat="contact in Student.contacts">
      <span class="span" ng-repeat="spec in contact" ng-bind="spec"></span>
    </li>
  </ul>
  <button class="button" ng-click="loadView('edituser')">Edit</button>
</fieldset>
<div ui-view></div>
</div>
