<div>
  <fieldset class="fieldset">
    <legend class="legend">Edit-Skill</legend>
    <form class="form">
      <label class="label">University:<input ng-model="Skill.university" type="text" class="input_text input_text--focused"/></label>
      <label class="label">Course:<input ng-model="Skill.course" type="text" class="input_text input_text--focused"/></label>
      <label class="label">Teacher:<input ng-model="Skill.teacher" type="text" class="input_text input_text--focused"/></label>
      <label class="label">Price:<input type="text" ng-model="Skill.price" class="input_text input_text--focused"/></label>
      <button class="button" ng-click="editSkill()">Confirm-Changes</button>
    </form>
  </fieldset>
</div>