<header class="pure-g pure-header">
	<img class="pure-img" alt="no image" src="./images/ico1.png" />
	<nav class="pure-menu pure-menu-horizontal">
		<ul class="pure-menu-list" id="menu">
			<li class="pure-menu-item"><a href="#" ng-click="smoothScroll('mainimage')" class="pure-menu-link pure-anchor">Home</a></li>
			<li class="pure-menu-item"><a href="#" ng-click="smoothScroll('features')" class="pure-menu-link pure-anchor">Features</a></li>
			<li class="pure-menu-item"><a href="#" ng-click="smoothScroll('news')" class="pure-menu-link pure-anchor">News</a></li>
			<li class="pure-menu-item"><a href="#" ng-click="smoothScroll('about')" class="pure-menu-link pure-anchor">About Us</a></li>
		</ul>
	</nav>
</header>
<div class="pure-g" id="main">
	<img alt="no-image" class="pure-u-1" src="../../images/mobilemain1.jpg"/>
    <div class="btn-container pure-u-1">
		<button ng-click="loadView('signin')" class="pure-flat-button pure-button">Sign-In</button>
		<button ng-click="loadView('signup')" class="pure-flat-button pure-button">Sign-Up</button>
    </div>
</div>
<div class="" id="features">
	<div class="">
		<ul class="">
			<li class="">
				<h4 class="">Best Tutors!</h4>
				<p class="">Tired to find someone that help you for an exam? You'll find the best tutor suited for you very quickly!</p>
			</li>
			<li class="">
				<h4 class="">notes sharing</h4>
				<p class="">With our services students can upload materials to share with everyone</p>
			</li>
			<li class="">
				<h4 class="">Streaming Online</h4>
				<p class="">You can't meet your tutors? No problem! Use streaming service and recover the lesson</p>
			</li>
			<li class="">
				<h4 class="">vote your tutor!</h4>
				<p class="">Your tutor is great? Vote him for help other to find him</p>
			</li>
		</ul>
	</div>
</div>
<div class="">
	<article>
		<h3 class="">Improve your abilities</h3>
		<p class="">With our service you can pass your exams very easely</p>
		<div class=""></div>
	</article>
</div>
<div class="" id="news">
	<div class="">
		<article>
			<h4 class="">News</h4>
		</article>
	</div>
</div>
<div class="">
	<div class="">
		<h3 class="">Heard Enough?</h3>
		<p class="paragraph">Sign up to our service and you life as a student will become more easy</p>
		<button class="pure-button" ng-click="loadView('signup')">Sign-Up</button>
	</div>
</div>
<footer class="" id="about">
	<div class="">
		<div class="">
			<p class="">All Right reserved to <strong class="">Team</strong></p>
			<p class="">&#xA9 2016 Copyright</p>
		</div>
		<div class="">
			<p class="">Terms and Conditions</p>
			<p class="">Privacy</p>
		</div>
		<div class="">
			<p class=""><a href="#" class="">Contact</a></p>
			<p class=""><a href="#" class="">About-Us</a></p>
		</div>
	</div>
</footer>