<div class="wrapper">
    <h3 class="h3" ng-show="isPayed">Your passpartout is out of date</h3>
    <fieldset class="fieldset">
        <legend class="legend">Update-Service</legend>
        <label for="week" class="label__radio">
            <input type="radio" value="week" id="week" class="input_radio" ng-model="Passpartout.type"/>
            <span class="span">1 Week</span>
        </label>
        <label for="six-month" class="label__radio">
            <input type="radio" value="month" id="month" class="input_radio" ng-model="Passpartout.type"/>
            <span class="span">6 Months</span>
        </label>
        <label for="year" class="label__radio">
            <input type="radio" value="year" id="year" class="input_radio" ng-model="Passpartout.type"/>
            <span class="span">1 Year</span>
        </label>
        <br>
        <input type="submit" class="input_submit" value="Upgrade Now!"/>
    </fieldset>
</div>