<header class="header">
  <div class="wrapper">
    <div class="title"></div>
  </div>
</header>
<div class="container-menu">
  <nav class="menu">
    <a href="#" id="menu-icon" ng-click="showCommandMenu()"></a>
    <ul class="menu__ul">
      <li class="menu__li"><a ng-click="loadView()" class="menu__li__a anchor">home</a></li>
      <li class="menu__li"><a ng-click="loadView('user')" class="menu__li__a anchor">my profile</a></li>
      <li class="menu__li"><a ng-click="loadView('platform.streaming')" class="menu__li__a anchor">streaming lesson</a></li>
      <li class="menu__li"><a ng-click="loadView('skill')" class="menu__li__a anchor">my skill</a></li>
      <li class="menu__li"><a ng-click="loadView()" class="menu__li__a anchor">my tutors</a></li>
      <li class="menu__li"><a ng-click="loadView('platform.notify')" class="menu__li__a anchor">notifications</a></li>
      <li class="menu__li"><a ng-click="loadView('platform.passpartout')" class="menu__li__a anchor">passepartout</a></li>
      <li class="menu__li"><a ng-click="logout()" class="menu__li__a anchor">logout</a></li>
    </ul>
  </nav>
</div>
<div class="content">
  <div ui-view></div>
</div>
