<div class="form-container pure-g">
  <h1 class="pure-h1 pure-u-1">Sign-up</h1>
  <form name="signup.UserForm" class="pure-form pure-form-aligned pure-u-1" novalidate>
    <fieldset>
      <div class="pure-control-group">
        <label class="pure-label" for="username">Username:</label>
        <input type="text" data-ng-model="signup.username" id="username" data-ng-minlength="3" data-ng-maxlength="10" placeholder="Insert Username"/>
      </div>
      <div class="pure-control-group">
        <label class="pure-label" for="name">Name:</label>
        <input type="text" data-ng-model="signup.name" id="name" data-ng-minlength="3" data-ng-maxlength="10" placeholder="Insert Name"/>
      </div>
      <div class="pure-control-group">
        <label class="pure-label" for="lastName">Surname:</label>
        <input type="text" data-ng-model="signup.lastName" id="lastName" data-ng-minlength="3" data-ng-maxlength="15" placeholder="Insert Surname"/>
      </div>
      <div class="pure-control-group">
        <label class="pure-label" for="email">Email:</label>
        <input type="email" data-ng-model="signup.email" id="email" data-ng-pattern="" placeholder="Insert Email"/>
      </div>
      <div class="pure-control-group">
        <label class="pure-label" for="passwd">Password:</label>
        <input type="password" id="password" data-ng-model="signup.password" data-ng-minlength="8" data-ng-maxlength="15" placeholder="Insert Password"/>
      </div>
      <div class="pure-control-group">
        <label class="pure-label" for="passwdrpt">Repeat Password:</label>
        <input type="password" id="signup.passwdrpt" data-ng-minlength="8" data-ng-maxlength="15" placeholder="Repeat Password"/> 
      </div>
      <div class="pure-controls">
        <label for="yearList" class="pure-label">Year:</label>
        <select id="yearList" data-ng-model="signup.year" data-ng-change="signup.createDays()" data-ng-init="signup.year = signup.years[0]" data-ng-options="year for year in signup.years"></select>
         <label for="monthList" class="pure-label">Month:</label>
        <select id="monthList" data-ng-model="signup.month" data-ng-change="signup.createDays()" data-ng-init="signup.month = signup.months[0]" data-ng-options="month for month in signup.months"></select>
         <label for="dayList" class="pure-label">Day:</label>
        <select id="dayList" data-ng-model="signup.day" data-ng-init="signup.day = signup.days[0]" data-ng-options="day for day in signup.days"></select>
      </div>
       <div class="pure-controls">
        <label class="pure-label pure-radio" for="stype">
          <input type="radio" data-ng-model="signup.isTutor" data-ng-value="false" id="stype" checked/>
          Student-Account
        </label>
        <label class="pure-label pure-radio" for="ttype">
          <input type="radio" data-ng-model="signup.isTutor" data-ng-value="true" id="ttype"/>
          Tutor Account
        </label>
      </div>
      <input type="submit"  data-ng-submit="signup.registration()" class="pure-input-2-5 pure-flat-button pure-button" value="Get Started!"/>
    </fieldset>
  </form>
</div>