<div ng-init="skills = getSkills()">
  <h2 ng-hide="skills.length">You dont' have skill</h2>
  <div ng-repeat ="skill in skills">
  <fieldset class="fieldset" ng-hide="skill.visible" ng-init="skill.visible = false">
    <legend class="legend">Skill:</legend>
    <p class="paragraph">University:<span class="span" ng-bind="skill.university.id"></span></p>
    <p class="paragraph">Course:<span class="span" ng-bind="skill.course.name"></span></p>
    <p class="paragraph">Teacher:<span class="span" ng-bind="skill.teacher[0].name+' '+skill.teacher[0].lastName"></span></p>
     <p class="paragraph">Price:<span class="span" ng-bind="skill.lesson.totalPrice"></span></p>
     <button class="button" ng-click="editForm($index)">Edit</button>
     <button class="button" ng-click="deleteLesson($index)">Delete</button>
  </fieldset>
  </div>
<div ui-view></div>
</div>
<button class="button" ng-click="loadView('newskill')">Create New</button>
