.pure-header {
    background-color: #0091b4;
}

.pure-anchor {
    color: #ffffff;
    font-weight: 600;
}

.pure-anchor:hover{
    background-color: #00a3cc;
}

.pure-menu-list {
    float: right;
}

.btn-container {
    background-color: #0091b4; 
    text-align: center;
    margin: 0 auto;
}

.pure-flat-button{
    width: 25%;
}